/* TABLE DES CONTENUS : */
/* -------------------- */
/*                      */
/* 1 | GLOBAL           */
/* 2 | HEADER           */
/* 3 | MAIN             */
/* 4 | ANIMATION        */
/* -------------------- */


/* 1 | GLOBAL           */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.oreille1, .oreille2, .oreille1::before, .oreille2::before, .oreille1::after, .oreille2::after, .tete, .bouche::after, .tete::before, .tete::after{
    position: absolute;
}
/* 2 | HEADER           */
.PICKA{
    width: 350px;
    height: 350px;
    position: relative;
    top: 30px;
}
.oreille1{
    left: 15%;
    transform: rotate(-35deg);
    top: 4%; 
    animation: 2s ease-in infinite ear1;
}
    
 .oreille1, .oreille2{
    background-color: #FEC93B;
    width: 60px;
    height: 150px;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;  
    overflow: hidden;
}
 .oreille2{
    right: 12%;
    transform: rotate(35deg);
    top: 6%;
    animation: 2s ease-in infinite ear2;
}
.oreille1::before, .oreille2::before{
    content:"";
    height: 30px;
    width: 80px;
    background-color: black;
    transform: scaleY(3) ;
    top: 15%;
}
.oreille1::after,  .oreille2::after{
    content:"";
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 35%;
    background-color: #FEC93B;
}
.tete{
    background-color: #FEC93B;
    width: 180px;
    height: 150px;
    border-radius:50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bouche::after{
    content: "3";
    top: 50%;
    right: 38%;
    transform: rotate(90deg) ;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    transition: 0.5s;
}
.tete::before{
    left:40%;
}
.tete::before, .tete::after{
    content:"•";
    font-size: 40px;
    color: #FFFFFF;
    background: black;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    top: 40%;
    transition: 0.5s;
    animation: 2s ease-in infinite blinking ;

}
.tete::after{
    right: 10%;
}
h1{
    text-align: center;
    font-size: 55px;
    margin: 60px 0;
}
/* 3 | MAIN             */
.secondtitre{
    margin: 20px 0;
    text-align: center;
}

h3{
    margin: 20px 0;
}

.exoUnContainer{
    position: relative;
    width: 500px;
    height: 500px;
    border: dotted 2px black;
}
.carre{
    position: absolute;
    width: 50%;
    height: 50%;
}
.carreBleu, .carreRouge{
    left: 50%;
}
.carreBleu, .carreVert{
    bottom: 0;
}
.carreRouge{
    background: red;
}
.carreJaune{
    background: yellow;
    top: 0;
    left: 0;
}
.carreBleu{
    background: blue;
}
.carreVert{
    background: green;
    right: 50%;
}

.carreViolet{
    background: violet;
    top: 25%;
    left: 25%;
    z-index: 1;

}
/* Formulaire       */

.tete:hover::before{
    left: 25%;
}
.tete:hover::after{
    right: 22%;
}
.bouche:hover::after{
    right: 45%;
}

/* 4 | ANIMATION        */
@keyframes ear1{
    0%{ transform:rotate(-35deg); }
    20%{ transform:rotate(-42deg); }
    35%{ transform:rotate(-45deg); }
    45%{ transform:rotate(-45deg);} 
    50%{ transform:rotate(-42deg); }
    55%{ transform:rotate(-40deg); } 
    60%{ transform:rotate(-38deg); } 
    75%{ transform:rotate(-35deg); }
    100%{ transform:rotate(-35deg);}

}
@keyframes ear2{
    0%{ transform:rotate(30deg); }
    20%{ transform:rotate(32deg); }
    35%{ transform:rotate(27deg); }
    45%{ transform:rotate(25deg);} 
    50%{ transform:rotate(22deg); }
    55%{ transform:rotate(27deg); } 
    60%{ transform:rotate(30deg); } 
    100%{ transform:rotate(30deg);}
}

@keyframes blinking{
    0%{ transform:scaleY(100%); } /* Statut initial */
    45%{ transform:scaleY(100%);} /* Statut initial */
    50%{ transform:scaleY(20%); }
    55%{ transform:scaleY(20%); } /* oeil fermé */
    60%{ transform:scaleY(100%); } /* oeil var se ouvrir */
    100%{ transform:scaleY(100%);} /* Statut initial */
}